.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.showBox--container {
  display: inline-block;
  margin-right: 2px;
  /* align-items: center; */
  /* justify-content: center; */
  padding: 1rem;
  margin: 1rem;
}

.Box {
  height: 3rem;
  width: 3rem;
  border: 2px solid greenyellow;
}
.emptyBox {
  height: 3rem;
  width: 3rem;
  border: 2px solid grey;
}

.box-container {
  padding: 24px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  justify-items: center;
  align-items: center;
  margin: 0 500px;
  border: 2px solid #282c34;
  border-radius: 4px;
}

.box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  display: inline-block;
  margin-right: 2px;
  border-radius: 5px;
  cursor: pointer;
  /* caret-color: transparent; */
}

.box:hover {
  transform: scale(1.1);
  border: 2px solid rgb(98, 98, 212);
}
